@import "variables";
@import "utilities";
@import "reset";
@import "syntax";
@import "node_modules/skeleton-scss/scss/skeleton";

body {
    background: #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
}

//Home
.header {
	margin-bottom: 50px;
  margin-top: 20px;
}

.title {
	margin-bottom: 0;
}

a.extra {
  color: #333;
}

a.extra:first-child {
	margin-left: 0;
}

@media (max-width: 320px) {
  a.extra {
    font-size: 1.5rem;
  }
}

.hero {
    text-align: center;
}

.callout {
  text-align: center;
  margin-bottom: 20px;
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
  }
}

.footer .contact {
  margin-right: 0 !important;
  p {
    text-align: left;
  }
}

.logo {
  float: right;
  max-width: 100%;
}

.footer {
  margin-bottom: 20px;
}

p.caption {
  text-align: center;
  display: block;
}

//Contact
.address p{
	margin-bottom: 0;
}

//Categories
.category-header {
  margin-top: 20px;
  text-transform: capitalize;
  text-align: left;
  a {
    color: #000;
    text-decoration: none;
  }
  a:hover {
    color: #1eaedb;
    text-decoration: underline;
  }
}

.categories:first-child {
  margin-top: -20px;
}

.prop:nth-of-type(2n + 1){
  margin-left: 0;
}

.prop-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

//Props
.breadcrumbs {
  margin-bottom: 1rem;
  h2 {
    display: inline;
  }
}
.breadcrumb {
  text-transform: capitalize;
  text-decoration: none;
  color: #aaa;
  margin-right: 5px;
}
.breadcrumb:visited {
  color: #aaa;
}
.breadcrumb:hover {
  color: #1eaedb;
}
.thumbnail {
  height: 100px;
  max-width: 15%;
  object-fit: cover;
  overflow-x: scroll;
  overflow-y: hide;
}

.featured {
  width: 100%;
}