---
layout: default
---

<div id="props" class="row categories">
  {% for category in site.data.propcategories %}
  {% if site.categories.[category][0] %}
  <div class="twelve columns categories" id="{{category}}">
    <h2 class="category-header">{{category | replace: '-', ' ' | capitalize}}</h2>
    <hr/>
    <div class="twelve columns">
    {% for post in site.categories.[category] reversed %}
      <div class="six columns prop">
        <div class="row">
          <div class="three columns">
            <a href="{{post.slug}}.html"><img src="/{{post.images[0]}}" class="prop-image"></a>
          </div>
          <div class="nine columns">
          <p class="category-header"><a href="{{post.slug}}.html">{{post.title}}</a></p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>