---
layout: default
---
<div class="row breadcrumbs">
  <h2><a class="breadcrumb" href="./">Props > </a></h2>
  <h2><a class="breadcrumb" href="./#{{page.categories[0]}}">{{page.categories[0] | replace: '-', ' ' | capitalize}} > </a></h2>
  <h2>{{ page.title }}</h2>
</div>
<div class="post">
  <div class="row">
    <div class="twelve columns">
      <img id="featuredImage" src="/{{page.images[0]}}" class="featured"/>
    </div>
  </div>
  {% if page.images.size > 1 %}
    <div class="row">
      <div class="twelve columns">
        {% for imageUrl in page.images%}
        <img src="/{{imageUrl}}" class="thumbnail" onclick="toggleFullscreen(event.srcElement)"/>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
{% if page.desc %}
<hr/>
<div class="row">
  <div class="twelve columns">
    <p>{{page.desc}}</p>
  </div>
</div>
{% endif %}
<hr/>
<div class="contact">
  <h4>Interested? Contact Scott:</h4>
  <form id="form" action="javascript:sendEmail()">
    <div class="row">
      <div class="twelve columns">
        <label for="subject">
          Subject
        </label>
        <input class="u-full-width" type="text" value="{{page.title}} Rental" id="subject" />
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <label for="body">
          Body
        </label>
        <textarea class="u-full-width" type="text" id="body">Hi Scott, I'd like to rent the {{page.title}}. The best way to contact me is by email: test@example.com or by phone: (XXX)XXX-XXXX. Thanks, Your Name Here</textarea>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <input class="button-primary" type="submit" value="Submit">
      </div>
    </div>
  </form>
</div>

<script type="text/javascript">
  function toggleFullscreen(element) {
    var featuredImageElement = document.getElementById('featuredImage');
    featuredImageElement.src = event.srcElement.src;
  }
  function sendEmail() {
    var link = "mailto:seffertz@bsmschool.org?"
             + "&subject=" + escape(document.getElementById('subject').value)
             + "&body=" + escape(document.getElementById('body').value);

    window.location.href = link;
  }
</script>
